ansible==10.5.0
ansible-core==2.17.5
anyio==4.4.0
apipkg==3.0.2
apparmor==4.0.2
appdirs==1.4.4
argcomplete==3.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Automat==22.10.0
Babel==2.15.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
Bottleneck==1.4.0
Brotli==1.1.0
catfish==4.18.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
configobj==5.0.8
constantly==15.1.0
contourpy==1.2.1
createrepo_c==1.1.0
crit==3.19
cryptography==43.0.0
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.6.1
entrypoints==0.4
executing==2.1.0
fastjsonschema==2.19.1
faust-cchardet==2.1.19
fonttools==4.53.1
fqdn==1.5.1
freetype-py==2.4.0
fs==2.4.16
Genshi==0.7.9
gevent==24.2.1
gmpy2==2.1.5
greenlet==3.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.2
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.8
importlib_metadata==7.1.0
importlib_resources==6.1.1
incremental==22.10.0
iniconfig==2.0.0
ipaddr==2.2.0
ipykernel==6.29.5
ipyparallel==8.8.0
ipython==8.27.0
ipython_genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
json5==0.9.25
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
LibAppArmor==4.0.2
libvirt-python==10.7.0
llvmlite==0.43.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
msgpack==1.1.0
munkres==1.1.4
mysqlclient==2.2.4
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.3
nftables==0.1
notebook==7.2.2
notebook_shim==0.2.4
notify2==0.3.1
numba==0.60.0
numexpr==2.10.0
numpy==2.0.0
olefile==0.47
opi==5.2.1
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pipx==1.7.1
platformdirs==4.2.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.12.0
pycairo==1.26.1
pycares==4.4.0
pycparser==2.22
pycriu==3.19
pycups==2.0.4
pycurl==7.45.3
pydot==2.0.0
pyftpdlib==1.5.10
pygdbmi==0.11.0.0
Pygments==2.18.0
pygobject==3.48.2
pygraphviz==1.13
pynvim==0.5.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
pyrsistent==0.20.0
pysendfile==2.0.1
pysmbc==1.0.25.1
PySocks==1.7.1
pyte==0.8.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-linux-procfs==0.7.3
pytz==2024.1
pyudev==0.24.3
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.35.1
reportlab==4.0.7
requests==2.32.3
resolvelib==1.0.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rich==13.7.1
rpds-py==0.7.1
rpm==4.19.1.1
scipy==1.14.0
selinux @ file:///home/abuild/rpmbuild/BUILD/libselinux-3.7/src
Send2Trash==1.8.2
sepolicy @ file:///home/abuild/rpmbuild/BUILD/policycoreutils-3.7/sepolicy
service-identity==24.1.0
setools==4.5.1
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack_data==0.6.3
sympy==1.12.1
TBB==2021.12.0
termcolor==2.4.0
terminado==0.18.1
thefuck==3.32
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
Twisted==24.3.0
typing_extensions==4.12.2
ufoLib2==0.16.0
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==2.1.0
userpath==1.9.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.13
yt-dlp==2024.8.6
zipp==3.19.2
zope.event==5.0
zope.interface==7.0.3
zopfli==0.2.3
